body {
    margin: 0;
    padding: 0;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 20vw;
    height: 20vw;
    background-color: rgb(67, 247, 247);
}

button {
    display: block;
    background: none;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    margin: 10px;
    margin-inline: auto;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}